@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
}
/******************************************************************/
/******************************************************************/
h1 {
  font-size: calc(1.5rem + 1.25vw);
  color: #181818;
  letter-spacing: 5px;
  font-weight: 900;
  margin-top: 50px;
}
h2 {
  font-size: calc(.75rem + 1vw);
  color: #181818;
  letter-spacing: 5px;
  font-weight: 900;
}
p {
  margin: 25px 50px;  
  font-size: calc(.25rem + 1.25vw);
  color: #1e461b;
  font-weight: 400;
  text-align: justify;
}

/******************************************************************/
/******************************************************************/
header {
  width: 100%;
  height: 75px;
  background: lightgreen;
}
.nav-bar {
  z-index: 19999;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  width: 100%;
  padding: 5px;
  height: 70px;
}
/******************************************************************/
/******************************************************************/
#header-img {
  width: 80px;
}
.div_logo{
  padding-top: 10px;
  padding-left: 5px;
  display: block;
  text-align: left;  
  background-color: #181818;
  width: 100%; 
}
.div_links {
  display: flex;
  justify-content: center;  
}
.div_menu-hamburguer {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 50px;
  height: 50px;
}
/******************************************************************/
/******************************************************************/
.li_links a {
  z-index: 19999;
  display: none;
  flex-direction: column;
  font-size: 1rem;   
  margin-top: 15px;
  padding: 8px;
}
#text-link {
  border: 1px solid white;
  width: 250px;
  text-align: center;
  letter-spacing: 10px;
}
#text-link:hover {
  border: 1px solid green;
  color: green;
  font-weight: 900;
}
/******************************************************************/
/******************************************************************/
#check-menu {
  position: fixed;
  cursor: pointer;
  opacity: 0;
  z-index:999999999;
  top: 15px;
  right: 10px;
  width: 50px;
  height: 50px;
}
/******************************************************************/
/******************************************************************/
.menu-hamburguer span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
}
.menu-hamburguer
span:nth-child(1) {
  top: 0px;
}
.menu-hamburguer
span:nth-child(2) {
  top: 15px;
}
.menu-hamburguer
span:nth-child(3) {
  top: 30px;
}
#check-menu:checked ~
.nav-bar
.div_menu-hamburguer span:nth-child(1) {
   top: 15px;
   transform: rotate(-45deg);
}
#check-menu:checked ~
.nav-bar
.div_menu-hamburguer span:nth-child(2) {
   top: 15px;
   opacity: 0;
}
#check-menu:checked ~
.nav-bar
.div_menu-hamburguer span:nth-child(3) {
   top: 15px;
   transform: rotate(45deg);
}
#check-menu:checked ~
.nav-bar {
    height: 350px;
}
#check-menu:checked ~
.nav-bar .li_links a {
  z-index: 19999;
  display: flex;
}
/*********************************************************/
/*********************************************************/
.container {
  width: 100%;
  margin: 0 auto;
  background: lightgreen;
}
.produto {
  color: #181818;
  padding-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#erva-mate {
  margin-top: 150px;
}


form {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  border-radius: 8px; 
}
#email {
  color: black;
  text-transform: lowercase;
  margin: 5px auto;
  border: none;
  border-radius: 20px;
  width: clamp(300px, 70%, 500px);
  border: 2px solid #181818;
}
#submit {
  background-color: #181818;
  margin: 5px auto;
  border: 2px solid #181818;
  border-radius: 20px;
  width: 200px;
}
#submit:hover {
  background-color: green;
  border: 2px solid #181818;
}

.video_wraper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
iframe {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 70%;
}

.cartoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  
}
.cartao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(300px, 30%, 500px);
  border: 2px solid #181818;
  height: auto;
  min-height: 400px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  
}
.cartao h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-bottom: 2px solid #181818;
  height: 100px;
}
.cartao li, .cartao ol {
  height: 200px;
  font-size: calc(.75rem + 1vw);
  color: #181818;
  letter-spacing: 5px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#preço {
  font-size: calc(1.5rem + 1vw);
  color: #181818;
  letter-spacing: 5px;
  font-weight: 900;
}
.btn {
  background-color: #181818;
  margin: 5px auto;
  border: 2px solid #181818;
  border-radius: 20px;
  width: 200px;
}
.btn:hover {
  background-color: green;
  border: 2px solid #181818;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  background-color: #181818;
}
#link_freecode:hover{
  color: green;
}
#skull:hover {
  font-size: 2rem;
}


@media only screen and (min-width: 600px) {
  .nav-bar {
    flex-direction: row;
  }
  .div_menu-hamburguer {
    display: none;
  }

  .ul_links {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .li_links a {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: auto 5px;
    font-size: calc(.5rem + .25vw);    
  }
  #text-link {
    width: calc(140px + 1vw);
    text-align: center;
    letter-spacing: 2px;
  }

} 